/*  global styles */

:root {
  --color-background: #abbddd;
  --color-background-light: #f2f2f2;

  --color-background-light-complement: #8ecae6;
  --color-background-dark: #033678;
  --color-background-dark-complement: #219ebc;

  --color-text-dark: #033678;
  --color-text-light: #f2f2f2;

  --section-gap: 160px;
  --icon-width: 40px;
}

#app {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 15px 15px;
}

body {
  min-height: 100vh;
  color: var(--color-text-light);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color: var(--color-text-light);
  background: var(--color-background-dark);
}

.dark-complement {
  color: var(--color-text-light);
  background: var(--color-background-dark-complement);
}

.light {
  color: var(--color-text-dark);
  background: var(--color-background-light);
}

.light-complement {
  color: var(--color-text-dark);
  background: var(--color-background-light-complement);
}

/*  links  */

a {
  color: var(--color-text-light);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/*  fonts  */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

.hero-text {
  margin: 0;
  font-size: 6em;
  font-weight: 600;
  color: var(--color-text-dark);
  position: relative;
  left: -6px;
  top: -6px;
  text-shadow: 6px 5px var(--color-text-light);
}

/* layout */

/* sections are grid elements in order to center content */
section {
  display: grid;
  height: 94vh;
  overflow-y: auto;
}

.span2 {
  grid-column: span 2;
}

.span3 {
  grid-column: span 3;
}

.hide {
  display: none !important;
}

/* styles for views components */
