
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-light: #f2f2f2;

  --vt-c-blue-theme: #033678;
  --vt-c-blue-support: #ABBDDD;

  --vt-c-blue-light-complement: #8ecae6;
  --vt-c-blue-dark-complement: #219ebc;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-blue-support);
  --color-background-light: var(--vt-c-white-light);
  --color-background-light-complement: var(--vt-c-blue-light-complement);
  --color-background-dark: var(--vt-c-blue-theme);
  --color-background-dark-complement: var(--vt-c-blue-dark-complement);

  --color-text-dark: var(--vt-c-blue-theme);
  --color-text-light: var(--vt-c-white-light);

  --section-gap: 160px;
}

body {
  min-height: 100vh;
  color: var(--color-text-light);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app  {
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 15px 15px;
}

a {
  color: var(--color-text-light);
  text-decoration: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.dark {
  color: var(--color-text-light);
  background: var(--color-background-dark);
}

.dark-complement {
  color: var(--color-text-light);
  background: var(--color-background-dark-complement);
}

.light {
  color: var(--color-text-dark);
  background: var(--color-background-light);
}

.light-complement {
  color: var(--color-text-dark);
  background: var(--color-background-light-complement);
}

.hero {
  margin: 0;
  font-size: 6em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--color-text-dark);
  position: relative;
  left: -6px;
  top: -6px;
  text-shadow: 6px 5px var(--color-text-light);
}

.span2 {
  grid-column: span 2;
}

.span3 {
  grid-column: span 3;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}